<section class="container">
        <form class="form" (ngSubmit)="transfer()">
                <h2 class="form__title">Nova trasnferência</h2>
                <div class="form-field">
                        <label for="valor" class="form-field_label">Valor</label>
                        <input type="number" id="valor" class="form-field_input" [(ngModel)]="value" name="value">
                </div>

                <div class="form-field">
                        <label for="destino" class="form-field_label">Destino</label>
                        <input type="number" id="destino" class="form-field_input" [(ngModel)]="destiny" name="destiny">
                </div>

                <div class="btn-wrapper">
                        <button class="btn" type="submit" >Transferir</button>
                </div>
        </form>
</section>